body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, input[type="number"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}

#title1{
    text-align: center;
    color: green;
    display: inline-block;
    padding-right: 110px;
}

#listCurr{
    font-size: 17px;
}

#MainButton{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    padding-top: 25px;
}